<h1><%= $game.player_2.name %> was attacked!</h1>


<h2><%= $game.player_2.name %> gets back up.</h2>
<h2><%= $game.player_2.name %> looks angry...</h2
<br>
<h2>Looks like he wants to...<a href="/play2">TAKE REVENGE!</h2></a>
