


<div><%= $game.player_1.name %> vs. <%= $game.player_2.name %></div>
<br>
<div><p>Health: </p><%= $game.player_1.hit_points %> <p>Health: </p><%= $game.player_2.hit_points %></div>

<br>
<a href="/attacked">Attack!</a>
